body{
    background-color: beige;
    font-size: 10px;
}

#conteudo{
    //padding-top: 10px;
    background: #ffffff;
   
}
#logo{
    margin: 5px 5px;
   height: 30px;
   width: 75px;
}
#menu{
    //background-color: dimgray;
    //height: 8%;
    border-radius: 5px;
    box-shadow: 5px 5px 5px #999999;
}
#plano-de-fundo{
    position: absolute;
}
#rodape{
    margin-top: 5px;
    background: grey;
    box-shadow: 5px 5px 5px #999999;
    
}
